In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas import Series, DataFrame

# 5.1 Introduction to pandas Data Structures

### Series

In [6]:
obj = pd.Series([4, 7, -5, 3])

In [7]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

And so on...

In [ ]:
obj.array # array representation

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [ ]:
obj.index # indexes

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c']) # create a series with an index
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

#### Single values or set of values

In [12]:
# select single values or set of values
obj2['a']

np.int64(-5)

In [14]:
obj2[['c','a','d']] # interpreted as a list of indices

c    3
a   -5
d    4
dtype: int64

#### Filtering & math functions

In [16]:
obj2[obj2 >0]

d    4
b    7
c    3
dtype: int64

In [17]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [18]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [ ]:
""" 
Another way to think about a Series is as a fixed-length, ordered dictionary, as it is a mapping of index values to data values. It can be used in many contexts where you might use a dictionary:
"""
'b' in obj2

False

In [20]:
'e' in obj2

False

#### Dictionaries and Series

In [21]:
# python dictionary to series
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [22]:
# series to dict
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [24]:
# customizing the index order
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index = states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

#### Checking for missing info...NA or null or NAN

In [ ]:
# true if null
pd.isna(obj4) # checking for missing info

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
# True if has a number
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool